*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.background{
    margin: 20px auto;
    background-image: url(https://nailedend.files.wordpress.com/2021/01/mushoku-tensei-isekai-ittara-honki-dasu-e3-09.png?w=1024);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.5);
    width: 1000px;
    height: 640px;
    position: relative;
    border-radius: 10px;
    overflow-x: hidden;
}

.header{
    text-align: center;
    line-height: 350px;

}

.header-h1{
    color: white;
    font-style: italic;
    animation: ChangeColor ease-in 2s infinite;
}

.platform{
    margin: 0px auto;
    background-image: url);
    height: 200px;
    width: 500%;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    display: block;
    background-repeat: repeat-x;
}

.teacher{
    position: absolute;
    bottom: 16%;
    left: 0%;
    animation: MoveLeft linear 10s infinite;
}
.roxy{
    width: 170px;
}

.student{
    position: absolute;
    bottom: 16%;
    left: 40%;
    animation: MoveLeft linear 10s infinite;
}

.rudy {
    width: 160px;
}

.woman{
    position: absolute;
    bottom: 18%;
    left: 15%;
    animation: MoveLeft linear 10s infinite;
}

.eris{
    width: 140px;
}


.girlfr{
    position: absolute;
    bottom: 16%;
    left: 30%;
    animation: MoveLeft linear 10s infinite;
}

.sylphyl{
    width: 80px;
}


@keyframes sunDown{
    100% {
        transform: translateY(050px);
        opacity: 1;
    }

    0%{
        transform: translateY(-1000px);
        opacity: 0.1;
    }
}

@keyframes Move{
    100% {
        transform: translateX(-2950px);
    }
}

@keyframes MoveLeft{
    100% {
        transform: translate(1000px,-1px);
    }

    50% {
        transform: translate(550px, 0px);
    }

    0%{
        transform:translate(0px, 2px)
    }
}

@keyframes ChangeColor{
    100% {
        transform: translateY(0);
        color: white;
    }
    50% {
        transform: translateY(50px);
        color: red;
    }
    0%{
        color:blue;
    }
}
